#body-header {
  color: #FFFFFF;
  background-color: #ff9c33;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  height: 520px; /* To accommodate the fixed nav bar with a height of 120px (400 + 120 = 520px) */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px; /* To accommodate the fixed nav bar with a height of 120px */
}