.new-tweet {
  margin: 12px 0px 0px 0px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet #tweet-text {
  border: none;
  border-bottom: 3px solid;
  resize: none;
  background-color: transparent;
}

.new-tweet div {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.error-msg {
  color: #FF0000;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  display: none;
}

.new-tweet .red {
  color: #FF0000;
}