#tweet {
  margin: 12px 0px;
}

#tweet article {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  padding: 15px;
}

#tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet textarea {
  border: none;
  border-bottom: 3px solid;
  resize: none;
  background-color: transparent;
  margin: 20px 0px 0px 0px;
}

#tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 12px 12px 0px;
}

#tweet:hover {
  box-shadow: 6px 6px 6px #888888;
  font-weight: bold;
}